<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075339896160-sbbs5qis2hlpkfqvcrk5ntforlcjtjeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075339896160-sbbs5qis2hlpkfqvcrk5ntforlcjtjeo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1075339896160-3hatfhjv5vbgeh9pb643u18f7ucr3134.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJh2V9jAvtrPNthcnew0CvG-4f0vWByD8</string>
	<key>GCM_SENDER_ID</key>
	<string>1075339896160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bevics.church</string>
	<key>PROJECT_ID</key>
	<string>bevics-church</string>
	<key>STORAGE_BUCKET</key>
	<string>bevics-church.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075339896160:ios:2214537d08890fd3d66a05</string>
	<key>DATABASE_URL</key>
	<string>https://bevics-church.firebaseio.com</string>
</dict>
</plist>